@charset "utf-8";
.sw-tour {
  width: 100%;
}
.tour-link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.tour-img {
  position: relative;
  width: 100%;
  /* 1280px 일때 높이가 245 px 이다. */
  /* 1280px 이 100vw 라면  */
  /* 245px 은 몇 vw 일까? */
  /*  245 / 1280 * 100  */
  height: 19.14vw;
  max-height: 245px;
  overflow: hidden;
}
.tour-img img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
